nav.menu
    if isKnownUser 
        a(href="/logout") Log ud
        a(href="/") Homepage 
        a(href="/chats") Chats 
    else 
        a(href="/login") Log ind
        a(href="/opret") Opret bruger 
        a(href="/") Homepage