doctype HTML 
html 
    head 
        title Skift adgangskode 
        script(src="/js/userClient.js" defer) 
        link(rel="stylesheet", href="/css/changePasswordView.css")
        link(rel="icon", href="/logo/chat.svg")
    body 
        .formContent
            a.tilbage(href="/profile") ⬅ Gå tilbage
            h2 Skift adgangskode
            p Nuværende password
            input(type="password", name="oldPassword", id="oldPassword", placeholder="Indtast nuværende password")
            p Nyt password
            input(type="password", name="newPassword", id="newPassword", placeholder="Indtast nyt password")
            p Gentag nyt password
            input(type="password", name="repeatPassword", id="repeatPassword", placeholder="Gentag nyt password")
            input(type="hidden", name="username", id="username", value=username)
            p.error-message(style="color: red;")
            button.submitButton(class="submitPassword", onclick="updatePassword()") Skift adgangskode
            
        