doctype HTML 
html 
    head 
        title Chats 
        script(src="index.js") 
    body 
        include includes/menubar
        h1 Chats
        ul 
            each chat in chats 
                li 
                    p Navn:  #{chat.navn}
                    