doctype HTML 
html 
    head 
        title Server: #{chat.navn}
    body 
        include includes/menubar
        h1 Server navn: #{chat.navn} 
        h2 Server ejer: #{chat.ejer.navn} 
        h2 Server oprettelsesdato: #{chat.dato} 
        a(href="/chats/" + chat.id + "/messages") Tilslut