doctype HTML 
html 
    head 
        title Server: #{chat.navn}
        link(rel="stylesheet", href="/css/menubar.css")
        link(rel="stylesheet", href="/css/chatServer.css")
    body.content
        include includes/menubar
        h1 Server navn: #{chat.navn} 
        h2 Server ejer: #{chat.ejer.navn} 
        h2 Server oprettelsesdato: #{chat.dato} 
        a.join-link(href="/chats/" + chat.id + "/messages") Tilslut