doctype HTML 
html 
    head 
        title Server: #{chat.navn}
        link(rel="stylesheet", href="/css/menubarComponent.css")
        link(rel="stylesheet", href="/css/detailedChatView.css")
    body.content
        include includes/menubarComponent
        a(class="tilbage", href="/chats") ⬅ Gå tilbage
        h1 Server navn: #{chat.navn} 
        h2 Server ejer: #{chat.ejer.navn} 
        h2 Server oprettelsesdato: #{chat.dato} 
        a.join-link(href="/chats/" + chat.id + "/messages") Tilslut