doctype HTML 
html 
    head 
        title Redigér #{chat.navn} 
        link(rel="stylesheet", href="/css/editView.css")
    body 
        div(class="container")
            form(action=`/chats/${chat.id}/edit`, method="post") 
                input(type="text", name="newName", placeholder="Nyt navn")
                input(type="hidden", name="chatId", value=chat.id)
                button(type="submit") Redigér 