doctype html 
html 
    head 
        title fejl 
        link(rel="stylesheet", href="/css/errorView.css")
        link(rel="icon", href="/logo/chat.svg")
    body 
        h1 Fejl! 
        p #{errorMessage}
        if (!isKnownUser)
            a(href="/") Klik her for at vende tilbage.
        else 
            a(href="/chats") Klik her for at vende tilbage.