doctype html 
html 
    head 
        title fejl 
        link(rel="stylesheet", href="/css/error.css")
    body 
        h1 Fejl! 
        p #{errorMessage}
        a(href="/") Klik her for at vende tilbage.