doctype HTML
html
    head 
        title Chatserver 
        link(rel="stylesheet", href="/css/homepage.css")
    body 
        h1 Velkommen til ChatServeren! 
        a.button(href="/login") Log Ind 
        a(href="/opretBruger") Eller opret ny bruger
