doctype html
html
  head
    title Chatserver
    link(rel="stylesheet", href="/css/homepageView.css")
  body
    div.container
        h1 Velkommen til ChatServeren!
        div.buttons
          a.button.login(href="/login") Log ind
          a.button.signup(href="/opretBruger") Opret ny bruger
