doctype HTML 
html 
    head 
        title Log ind 
        link(rel="stylesheet", href="/css/loginView.css")
        link(rel="stylesheet", href="/css/menubar.css")

    body 
        form(action="/login", method="post") 
            a(href="/") ⬅ Gå tilbage
            h1 Log ind
            input(type="text", name="username", placeholder="Brugernavn")
            input(type="password", name="password", placeholder="Adgangskode")
            button(type="submit", value="") Log Ind
            if (errorMessage) 
                div(class="error-message") #{errorMessage}
        
            