doctype HTML 
html 
    head 
        title Log ind 
    body 
        form(action="", method="post") 
        input(type="text", name="")
        input(type="password", name="")
        button(type="submit", value="")