doctype HTML 
html 
    head 
        title Log ind 
    body 
        form(action="/login", method="post") 
            input(type="text", name="username", placeholder="brugernavn")
            input(type="password", name="password", placeholder="password")
            button(type="submit", value="") Log Ind