doctype HTML 
html 
    head 
        title Beskeder 
        link(rel="stylesheet", href="/css/menubar.css")
    body 
        include includes/menubar
        h1 Beskeder 
        each besked in chat.beskeder
                p #{besked.ejer.navn}: #{besked.besked}