doctype HTML 
html 
    head 
        title Beskeder 
        link(rel="stylesheet", href="/css/menubar.css")
    body 
        include includes/menubar
        h1 Beskeder 
        each besked in chat.beskeder
                li 
                    a(href=`/chats/messages/${chat.id}`) #{besked.ejer.navn}: #{besked.besked}
        input(type="text", name="besked", placeholder="Indtast besked")
        button(type="submit") Send