doctype HTML 
html 
    head 
        title Message - #{message.id} 
        script(src="/js/message.js" defer) 
    body 
        h1 Rediger besked 
        textarea#beskedInput=message.besked
        br
        button(onclick=`opdaterBesked(${message.id}, ${message.chatId})`) Gem ændringer