doctype HTML 
html 
    head 
        title Opret ny bruger 
    body 
        form(action="/opretBruger", method="post") 
            input(type="text", name="username")
            input(type="password", name="password")
            button(type="submit") Opret