doctype HTML 
html 
    head 
        title Opret ny bruger 
    body 
        form(action="", method="post") 
            input(type="text", name="brugernavn")
            input(type="password", name="password")
            button(type="submit") Opret