doctype HTML 
html 
    head 
        title Brugere 
    body 
        include includes/menubar
        h1 Brugere 
        each bruger in brugere 
            li 
                p Navn: #{bruger.navn}