doctype HTML 
html 
    head 
        title Brugere 
        link(rel="stylesheet", href="/css/menubar.css")
    body 
        include includes/menubar
        h1 Brugere 
        each bruger in brugere 
            li 
                p Navn: #{bruger.navn}