/* Generelle stilarter for siden */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin-top: 50px;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

table {
    width: 50%;
    border-collapse: collapse;
    align-self: center;
    margin: 0 auto
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    outline: auto;
    outline-color: grey;
    outline-style: solid;
    outline-width: 1px;
}

tr:nth-child(even) {
    background-color: #dfdede;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

